.wrapper__tab{
    display: flex;
    h3{
        display: none;
    }
}
.wrapper__systemCinema--fixed{
    width: 940px;
    margin: 0px auto;
    .bg__back-news{
    background-image: url(../../assets/back-news.png);
    height: 150px !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center center;
    }
}
@media screen and (max-width:768px) {
    .wrapper__tab{
        width: 768px;
        .tab__content__middle{
            width: 253px;
            .wp__info__tab__cinema{
                width: 140px !important;
            }
        }
        .tab__content__filmShow{
            .item__filmShow{
                .wp__filmShow__info__item{
                    .wp__filmShow__info__bottom{
                        .list__session__filmShow{
                            width: 78%;
                        }
                    }
                }
            }
        }
    }
  
}
@media screen and (max-width: 576px) {
    .wrapper__tab{
        width: 414px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    
        h3{
            margin: 0px 128px;
            text-align: center;
            display: block;
            color: #fa5238;
            padding-bottom: 10px;
            border-bottom: 4px solid #fa5238;
        }
        ul.tab__menu{
            width: 90% !important;
            border-bottom: 1px dashed #c7c5c5 !important;
            margin: 10px auto;
            border: none;
            flex-wrap: wrap;
            display: flex !important;
            height: auto;
            justify-content: center;
            padding-bottom: 15px !important;
            li.tab__item{
                margin: 0px;
                border-bottom: none;
                a{
                    width: 110px;
                    padding: 15px 12px;
                    margin: 0px;
                }
            }
        }
        .tab__content__middle{
            width: 90%;
            border-top: none;
            border-bottom: 1px dashed #c7c5c5;
            height: auto;
            margin: 0px auto;
           
            .tab__content__item{
                padding-left: 5px;
                .wp__info__tab__content{
                    .wp__info__tab__cinema{
                            width: 70%;
                    }
                }
            }
        }
        .tab__content__filmShow{
            border-top: none;
            .item__filmShow{
                padding-left: 5px;
            }
           
        }
    }
  }

@media screen and (max-width: 400px) {
    .wrapper__tab{
        width: 375px;
        h3{
            font-size: 15px;
            text-transform: uppercase;
        }
        .tab__content__filmShow{
            height: 500px;
        }
        .tab__content__filmShow .item__filmShow .wp__filmShow__info__item .wp__filmShow__info__bottom .list__session__filmShow{
            width: 100%;
            .session__filmShow__item{
                font-size: 10px;
                width: 100px;
                margin: 10px 0px;
                span{
                    font-size: 16px;
                }
            }
        }
    }
}
