.tab__menu{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center  ;
    position: relative;
    width: 92px;
    display: inline-block;
    border: 1px solid #ebebec;
    height: 630px;

}