.wrapper__ContentListFilmTix{
    width: 940px;
    margin: 0px auto;
}
.wp__filmListNav{
    ul.nav__tabListFilm{
        font-weight: 500 !important;
        margin-bottom: 30px !important;
        align-items: center;
        display: flex;
        border-bottom:none;
        width: 300px ;
        margin: 0px auto ;
        li{
            a{
                border: none;
                transition: 0.5s all;
                font-size: 18px;
                cursor: pointer;
                color: #000;
                &:hover{
                    border-color: #ffffff !important;
                }
            }
            a.nav-link.active{
                transition: 0.5s all;
                font-size: 24px;
                color: #fa5238;
            }
    
        }
    }
    // .tab-content{
    //     .owl-dots{
    //         display: none;
    //     }
    //     // .owl-carousel_listFilm{
    //     //     // .owl-nav{
    //     //     //     button.owl-prev{
    //     //     //         border: none;
    //     //     //         outline: none;
    //     //     //         background: #ffffff;
    //     //     //         color: black;
    //     //     //         position: absolute; 
    //     //     //         left: -100px;  
    //     //     //         top: 350px;
    //     //     //         span{
    //     //     //             width: 40px;
    //     //     //             background-size: contain;
    //     //     //             // background-image: url(../images/back-session.png);
    //     //     //             height: 40px;
    //     //     //             display: block;
    //     //     //             color: transparent;
    //     //     //         }

    //     //     //     }
    //     //     //     button.owl-next{
    //     //     //         border: none;
    //     //     //         outline: none;
    //     //     //         background: #ffffff;
    //     //     //         color: black;
    //     //     //         position: absolute;
    //     //     //         right:-100px;
    //     //     //         top: 350px;
    //     //     //         span{
    //     //     //             width: 40px;
    //     //     //             background-size: contain;
    //     //     //             // background-image: url(../images/next-session.png);
    //     //     //             height: 40px;
    //     //     //             display: block;
    //     //     //             color: transparent;
    //     //     //         }
    //     //     //     }
    //     //     // }
    //     // }
    // }
    .container-fluid--fixed{
        padding-left:0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 768px) {
   .list__filmShowing{
    width: 650px !important;
    margin: 10px 49px;
  }
  ul.nav__tabListFilm{
    margin: 20px 240px 0px 240px !important;
  }

}
@media screen and (max-width: 576px) {
    .tab-content .list__filmShowing{
        width: 400px !important;
        text-align: left;
        margin: 0px 60px !important;
        .col-sm-6--fixed {
            max-width: 150px !important;
        }
      }
      .wp__filmListNav ul.nav__tabListFilm{
        width: 220px !important;
         margin: 15px 115px!important;
         li{
             a{
                 padding: 8px;
                 font-size: 14px !important;
                 &:hover{
                     font-size: 16px !important;
                 }
             }
         }
     }
 }

@media screen and (max-width: 400px) {
    .tab-content .list__filmShowing{
        width: 360px !important;
        margin: 0px 62px !important;
        .col-sm-6--fixed {
            max-width: 130px !important;
        }
    }
    .wp__filmListNav ul.nav__tabListFilm{
        margin: 15px 104px !important;
     }
}