.owl-theme .owl-nav .owl-prev,.owl-theme .owl-nav .owl-next{
    opacity: .3;
    background-size: contain;
    background-repeat: no-repeat;
    color:transparent !important;
    position: absolute;
    font-size: 24px;
    background-color: transparent;
    &:hover{
        background-size: contain;
    background-repeat: no-repeat;
        color:transparent !important;
        background-color: transparent !important;
    }
}
.owl-theme .owl-nav .owl-prev{
    left:-100px;
    top: 354px;
    background-image: url("../../back-session.png") !important;

}
.owl-theme .owl-nav .owl-next{
    right: -100px;
    top: 354px;
    background-image: url("../../next-session.png") !important;
}