.tab__content__item{
    cursor: pointer;
    opacity: 0.5;
    padding: 20px;
    .wp__info__tab__content{
        .tab__content__item__link{
            float: left;
            margin-right: 10px;
            display: block;
            width: 53px;
            overflow: hidden;
        }
        .wp__info__tab__cinema{
            overflow: hidden;
            font-size: 14px;
            width: 170px;
            float: left;
            h4.tab__h4__title{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 0px !important;
                font-size: 13.5px;
          
            }
            span.tab__cinema__detail{
                width: 100%;
                display: block !important;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 12px;
                color: #949494;
                letter-spacing: 0.5px;
            }
            a.tab__link__detail{
                font-size: 12px;
                display: block;
                cursor: pointer;
                color: #fb4226!important;
            }
        }
    }
}
.greenColorTextBrand{
    font-weight: bold;
    color:#8bc541;
}
.purpleColorTextBrand{
    font-weight: bold;
    color: blueviolet;
}
.pinkColorTextBrand{
    font-weight: bold;
    color:#df0d7a
}
.grayColorTextBrand{
    font-weight: bold;
    color: rgb(78, 78, 78);
}
.redColorTextBrand{
    font-weight: bold;
    color: #ff3030;
}
.orangeColorTextBrand{
    font-weight: bold;
    color: #f1db0e;
}