.wp__application{
    .bg__application{
        background-image: url(../../assets/backapp.jpg);
        height:100%;
        width: 100%;
        padding: 120px 0 80px 0;
        .application{
            .row__app--fixed{
                margin-left: 0 !important;
                margin-right: 0 !important;
                height: 100%;
            }
            height: 100%;
            max-width: 940px;
            margin: auto;
            &__text{
                padding-top: 80px;
                height: 100%;
                .app__textLeft{
                    font-weight: 700;
                    font-size: xx-large;
                }
                .app__textSmartLeft{
                    margin:25px 0px;
                    font-size: medium;
                }
                .btn__downloadApp{
                    background-color: #fb4226;
                    padding: 10px 20px;
                    color: #fff;
                    font-size: medium;
                    font-weight: 700;
                    border: none;
                    border-radius: 4px;
                }
                .textAppUnder{
                    font-size: small;
                    padding-top: 10px;
                    a{
                        color: #fff;
                        border-bottom: 1px solid #ffff;
                    }
                }
            }
            &__sliderMobie{
                padding: 0px 128px;
                text-align: center;
                position: relative;
                height: 100%;
                img{
                    width: 211.8px;
                    overflow: hidden;
                    height: 100%;
                }
                .wp__appCarousel{
                    position: absolute;
                    width: 202px;
                    left: 133px;
                    top: 10px;
                    overflow: hidden;
                    height: 434px;
                    border-radius: 22px;
                    .owl-carousel_app{
                        left: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    // .selectMenu{
    //     display: none;
    // }
    .application__text{
        .app__textLeft:first-child{
            letter-spacing: 4px !important;
            word-spacing: 5px !important;
        }
        padding-top: 50px !important;
        text-align: center;
        margin-bottom:20px;
    }
    .wp__appCarousel{
        left: 285px !important;
    }
  }
  @media screen and (max-width: 576px) {
    .application__text{
        p.app__textLeft{
            word-spacing: 1px !important;
            letter-spacing: 1px !important;
            font-size: 15px !important;
        }
        p.app__textSmartLeft{
            font-size: 12px !important;
        }
    }
    .wp__appCarousel{
        left: 107px !important;
    }
    .wp__application .bg__application .application__sliderMobie{
        padding: 0px !important;
    }
 }
 @media screen and (max-width:400px) {
    .wp__application .bg__application .application__sliderMobie img{
        width: 100px;
    }
    .wp__appCarousel{
        left: 140px !important;
        top: 3px !important;
    }
    .wp__application .bg__application .application__sliderMobie{
        padding: 0px !important;
    }
    .wp__application .bg__application .application__sliderMobie .wp__appCarousel{
        width: 94px !important;
        border-radius: 8px;
        height: 203px;
    }
    .wp__application .bg__application{
        padding: 0px 0 80px 0;
    }
 }