.dr-menu--listTheater{
    max-width: 300px !important;
    overflow-x: hidden !important;
    max-height: 200px !important;
    overflow-y: auto !important;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    } 
    &::-webkit-scrollbar-thumb {
        background-color: #888888;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

}
span.theater__movieDropdown{
    display: block !important; 
    overflow: hidden !important; 
    white-space: nowrap !important; 
    text-overflow: ellipsis !important;
    width: 95px;
    text-align: left;
    display: block;
}