.wp-header{
    height: 60px;
    
  }
  .header {
    min-height: 60px;
    z-index: 99;
    top: 0px;
    position: fixed;
    background-color: #fffffff2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a.back_page {
      display: none;
      i {
        font-size: 24px;
        color: #3a3939ad;
        left: 25px;
        position: relative;
        top: 16px;
      }
    }
    &__logo {
      padding: 5px 0px;
      a img {
        width: 50px;
      }
    }
    &__wp-list-group {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      ul.list-item {
        display: flex;
        align-items: center;
        li.item {
          transition: all 0.5s;
          margin: 0px 10px !important;
          a {
            &:hover {
              transition: all 0.5s;
              color: #fb4226;
            }
            font-weight: 600;
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
    &__wp-content {
      display: flex;
      align-items: center;
      position: relative;
      .info-user {
        padding: 10px;
  
        position: relative;
        &__logout {
          padding: 6px 25px;
          right: 0;
          font-size: 14px;
          top: 50px;
          border-radius: 4px;
          color: #fff;
          background-color: #959595;
          position: absolute;
          display: none;
          transition: all 0.5s;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover .info-user__logout {
          transition: all 0.5s;
          display: block;
          &:hover {
            background-color: #888;
          }
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        span.username {
          font-size: 13px;
          color: #9b9b9b;
          font-weight: 600;
        }
      }
      .selected-location {
        border-left: 1px solid #e1e1e1b3;
        display: inline-block;
        .dropdown {
          .dropdown-button {
            padding: 2px 14px;
            color: #9b9b9b;
            p {
              font-size: 13px;
              display: inline-block;
              font-weight: 600;
            }
  
            &:after {
              display: none;
            }
            i.fa-map-marker-alt {
              color: #c5c4c4;
            }
          }
          ul.dropdown-menu {
            padding: 0px;
            top: 15px !important;
            li {
              font-size: 14px;
              transition: 0.5s all;
              &:hover a {
                background-color: #60c5ef;
                color: #fff;
                transition: 0.5s all;
              }
            }
          }
          .selectScroll {
            max-height: 300px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 4px;
              background-color: white;
            }
            &::-webkit-scrollbar-thumb {
              width: 10px;
              background-color: #d2d1d1;
            }
          }
        }
      }
    }
    &__menu_dropdown {
      display: none;
      position: absolute;
      right: 10px;
      top: 16%;
      cursor: pointer;
      font-size: 30px;
    }
  }
  .sidebarMenu {
    padding-bottom: 500px;
    top: 0px;
    right: -400px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 100% !important;
    background-color: #fffffffa;
    position: fixed;
    z-index: 101;
    transition: 0.5s right;
    ul.list-dropdown {
      transition: 0.5s right;
      li {
        a {
          color: #000;
        }
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          a img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .sidebarMenu.active__sidebarHeader {
    transition: 0.5s right;
    right: 0px;
    top: 0px;
    z-index: 101;
    max-height: 100%;
    overflow: hidden !important;
  }
  .overlay {
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  @media screen and (max-width: 900px) {
    .header__wp-list-group ul.list-item {
      transform: translate(-50%, -10%);
    }
  }
  @media screen and (max-width: 768px) {
    .header a.back_page {
      display: block !important;
    }
    .header__wp-list-group ul.list-item {
      display: none;
    }
    .header__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .header__wp-content {
      display: none;
    }
    .header {
      width: 100%;
      height: 60px;
    }
    .header__menu_dropdown {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    #sidebarDrop {
      display: none !important;
    }
    #overlayId {
      display: none !important;
    }
    body {
      overflow-y: auto !important;
    }
  }
  //--------------------------------------end header---------------------------------------//
  