.dr-menu--listDate{
    width: 100px !important;
    overflow-x: hidden !important;
    max-height: 200px !important;
    overflow-y: auto !important;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    } 
    &::-webkit-scrollbar-thumb {
        background-color: #888888;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

}